<button ion-item (click)="triggerDropdown();" [disabled]="disabled" detail-none>
    <ion-icon [color]="selectColor" [name]="viewValue?.icon" item-left></ion-icon>
    {{viewValue?.name}}
    <ion-icon [color]="selectColor" [name]="!!open?'ios-arrow-dropup':'ios-arrow-dropdown'"
              item-right></ion-icon>
</button>

<ion-list [hidden]="!open" (ionChange)="ionChange($event)" [(ngModel)]="value" radio-group>

    <ion-item *ngFor="let dataItem of dataList">
        <ion-icon [color]="color" [name]="dataItem?.icon" item-left></ion-icon>
        <ion-label>{{dataItem?.name}}</ion-label>
        <ion-radio [color]="dataItem?.valuevalue==value?selectColor:color" [value]="dataItem?.value"
                   (ionSelect)="ionSelect($event,dataItem)"></ion-radio>
    </ion-item>

</ion-list>

