page-fill-bill-for-travel {

  .grid-select {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
  }

  [grid-button] {

    &.activated {
      background-color: rgba(0, 0, 0, .05);
    }

    ion-icon {
      font-size: 3.3rem;
    }
  }

}
